/* Подключаем шрифты */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

@font-face {
  font-family: "Gilroy";
  src: url("../project-fonts/gilroylight.woff2") format("woff2"),
       url("../project-fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../project-fonts/gilroyextrabold.woff2") format("woff2"),
       url("../project-fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
/* Глобальные настройки  */
body {
    font-family: "Gilroy", "Arial", sans-serif;
}

a {
	text-decoration: none;
	color: #000000;
}
li {
	list-style-type: none;
}
footer {
	background-color: #464646;
	min-height: 355px;
}
header {
	background-color: #f7e296;
}
fieldset {
	border: none;
	padding: 0;
	margin-left: 6px;
}
.mono-container {
	width: 1160px;
	margin: 0 auto;
}
.catalog-center-container ul {
	padding: 0;
} 
.catalog-center-container {
	width: 1053px;
}
/* Стилизация логотипа */
.main-header-logo {
	letter-spacing: 0.01em;
	font-size: 48px;
	font-weight: 800;
	line-height: 36px;
	position: relative;
	left: 58px;
	bottom: 20px;
	transition: all 0.1s;
}
.main-header-logo:hover {
	opacity: 0.6;
}
.main-header-logo:active {
	opacity: 0.3;
}
/* Стилизация поисковой строки */
.search-bar {
	width: 445px;
	background-color: #f7e296;
	height: 52px;
	margin-left: 40px;
}
.search-bar .search-bar-in1 {
	border: none;
	border-bottom: 2px solid #f7e296;
	background-color: #f7e296;
	opacity: 0.3;
	width: 315px;
	height: 50px;
	-webkit-appearance: none;
	transition: all 0.1s;
}
.search-bar .search-bar-in1:hover {
	opacity: 0.6;
}
.search-bar .search-bar-in1:focus {
	opacity: 1;
	border-bottom-color: #000000;
	outline: none;
}
.search-bar-in1:focus ~ .search-bar-in2 {
	color: #000000;
	border: 2px solid #000000;
	background-color: transparent;
	visibility: visible;
	transition: all 0.1s;
}
.search-bar-in1:focus ~ .search-bar-in2:hover {
	color: #ffffff;
	background-color: #000;
	visibility: visible;
}
.search-bar .search-bar-in2 {
	width: 85px;
	height: 50px;
	background-color: #f7e296;
	border-color: black;
	border: 2px;
	padding: 0px;
	visibility: hidden;
	position: relative;
	right: 4px;
	top: 1px;
}
.search-bar .search-bar-in2:hover {
	background-color: black;
	color: white;
	visibility: visible;
}
.search-bar .search-bar-in2:active {
	background-color: black;
	color: white;
	opacity: 0.3;
}
/* Стилизация header */
.just-image-header {
	width: 100px;
	height: 7px;
	position: absolute;
	top: 224px;
	left: 599px;
}
.main-header .mono-container {
	position: relative;
}
.main-header {
	height: 300px;
	width: 1160px;
	margin: 42px auto 0px auto;
}
.user-bar {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	letter-spacing: 0.01em;
	font-weight: 300;
	line-height: 30px;
	display: flex;
	align-items: baseline;
	bottom: 22px;
	left: 16px;
	transition: all 0.1s;
}
.user-bar a:hover {
	opacity: 0.6;
}
.user-bar a:active {
	opacity: 0.3;
}
.m-n li a:hover {
	opacity: 0.6;
}
.m-n li a:active {
	opacity: 0.3;
}
.m-n {
	display: flex;
}
.main-navigation {
	line-height: 30px;
	list-style-type: none;
	display: flex;
	position: relative;
	bottom: 29px;
	transition: all 0.1s;
}
.activation-catalog {
	margin-left: 3px;
}
.main {
	font-size: 18px;
	font-weight: 800;
	letter-spacing: 3.6px;
	text-transform: uppercase;
}
.cc {
	margin-left: 15px;
}
.delivery {
	margin-left: 322px;
}
.guarantee {
	margin-left: 35px;
}
.cont {
	margin-left: 109px;
}
.inner-catalog {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	display: flex;
	padding: 0;
	width: 1117px;
	position: absolute;
	background-color: #f7e296;
	z-index: 10;
	height: 162px;
	visibility: hidden;
	transition: all 0.1s;
	left: 17px;
}
.activation-catalog:hover .inner-catalog {
	visibility: visible;
}

.slide-number {
	font-weight: 800;
	font-size: 179.2px;
	padding: 0px;
	margin: 0px;
}
.catalog-list p:active {
	opacity: 0.3;
}
.enter {
	margin-left: 84px;
}
.compare {
	margin-left: 235px;
}
.shoping-cart {
	margin-left: 61px;
}
/* Общая стилизация кнопок */
.butt {
	font-weight: 800;
	font-size: 18px;
	letter-spacing: 0.21em;
	text-transform: uppercase;
	line-height: 36px;
	background-color: transparent;
	transition: top 0.1s;
	transition: height 0.1s;
}
.butt:active .test {
	opacity: 0.3;
}
.butt:hover .butt::after {
	height: 30px;
}
.setting-sec {
	line-height: 30px;
	margin-bottom: 33px;
	cursor: pointer;
	width: 160px;
}
.setting-sec:active {
	background-color: black;
	color: #f0c52e;
	opacity: 1;
	cursor: pointer;
	width: 280px;
	text-align: auto;
}
.butt-lab {
	padding-left: 20px;
	background-color: transparent;
	cursor: pointer;
	font-weight: 800;
	font-size: 18px;
	letter-spacing: 4px;
	text-transform: uppercase;
}
.qq2 {
	padding-left: 6px;
}
.qq2:active {
	width: 274px;
}
.qq3 {
	padding-left: 19px;
}
.qq3:active {
	width: 261px;
}
/* Стилизация main */
.info-table td {
	font-weight: 300;
	font-size: 36px;
}
.info-table th {
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 13px;
}
.catalog-blocks {
	font-size: 18px;
	font-weight: 800;
}
.services-info h2 {
	font-size: 47px;
	font-weight: 800;
	letter-spacing: 0.02em;
}
.services-info p {
	font-family: "Open Sans", "Arial",  sans-serif;
	font-weight: 300;
	font-size: 15px;
}
.inf h2 {
	font-weight: 800;
	font-size: 47px;
	letter-spacing: 0.01em;
}
.inf p {
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
}
.courier-companies {
	font-size: 16px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
}
.slide-text {
	font-family: "Open Sans", "Arial", sans-serif;
	line-height: 30px;
	letter-spacing: 0.025em;
	word-spacing: 0.01em;
	font-weight: 300;
	color: #464646;
	font-size: 14px;
	margin-bottom: 43px;
	margin-top: 20px;
}
.info-on-slide h2 {
	font-size: 47px;
	margin-bottom: 10px;
	letter-spacing: 0.014em;
}
.more-info {
	display: inline-block;
	width: 210px;
	vertical-align: top;
	text-align: center;
	margin-bottom: 53px;
	margin-left: 9px;
}
.slide-main {
	margin: 0 auto;
	display: flex;
	width: 1041px;
	position: relative;
	bottom: 100px;
}
.slide-one .slide-number {
	position: absolute;
	bottom: 312px;
	left: 870px;
	color: white;
}
.slide-two .slide-number {
	position: absolute;
	bottom: 320px;
	left: 855px;
	color: white;
}
.slide-three .slide-number {
	position: absolute;
	bottom: 370px;
	left: 845px;
	color: white;
}
.info-on-slide {
	margin-left: 125px;
	margin-top: 30px;
}
.image-slide-container {
	margin-left: 30px;
	margin-top: -14px;
}
.table-cell {
	width: 300px;
}
.lll {
	text-align: left;
}
.slide-two .slide-main {
	left: 25px;
	top: -90px;
}
.slide-two .info-on-slide {
	margin-left: 140px;
	margin-top: 20px;
}
.slide-two .slide-number {
	left: 820px;
}
.slide-two {
	display: none;
}
.slide-three {
	display: none;
}
.slide-three .image-slide-container {
	margin-left: -30px;
	margin-top: 50px;
}
.slide-three .info-on-slide {
	margin-left: 45px;
}
.slide-three .slide-number {
	top: -40px;
	z-index: 1;
}
.fx {
	position: relative;
	z-index: 5;
}
.catalog {
	margin: 0 auto;
}
.catalog-list {
	display: flex;
	justify-content: space-between;
	padding-left: 0px;
	margin-top: 0px;
}
.type-block {
	width: 160px;
	height: 160px;
	background-color: #f7e296;
	display: flex;
	transition-property: background-color;
	transition-duration: 0.3s;
}
.type-block svg {
	margin: auto;
}
.catalog-blocks:hover .type-block {
	background-color: #ffc600;
}
.catalog-blocks:active svg {
	opacity: 0.3
}
.catalog-blocks:active .name-sect {
	opacity: 0.3;
}
.name-sect {
	margin-top: 37px;
}
.services {
	background-color: #e5e5e5;
	margin-top: 170px;
	z-index: -2
}
.guarantee-service,
.credit-service {
	display: none;
}
.services-buttons {
	padding-left: 0px;
	position: relative;
	top: -32px;
	width: 300px;

}
.services-container {
	height: 290px;
	display: flex;
}
.partners-cont-static {
	margin-bottom: 100px;
}
.s-i-b {
	margin-left: 100px;
	position: relative;
	bottom: 35px;
}
.services-info p {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.038em;
	color: #464646;
	font-weight: 300;
	margin-top: -9px;
}
.cont-text {
	width: 430px;
	position: relative;
	bottom: 38px;
}
.services-info {
	position: relative;
}
.svghadev {
	position: absolute;
	right: -264px;
	top: -22px; 
}
.partners {
	margin-top: 90px;
}
.partners li a img {
	filter: grayscale(100%);
	opacity: 0.3;
	transition-property: filter, opacity;
	transition-duration: 0.5s
}
.partners li a img:hover {
	filter: none;
	opacity: 1;
}
.flex-cont-p {
	display: flex;
	justify-content: space-between;
	padding-left: 0px;
}
.last-info-container {
	margin-top: 45px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 84px;
}
.contacts {
	width: 562px;
}
.inf p {
	color: #464646;
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	line-height: 31px;
	letter-spacing: 0.02em;
	font-size: 14px;
	margin-top: 9px;
	padding-bottom: 15px;
}
.p2sec {
	padding-bottom: 24px;
}
.about-us {
 width: 530px;
}
.p1,
.p2 {
	padding-bottom: 40px;
}
.courier-companies li {
	padding-bottom: 22px;
}
.courier-companies li:last-child {
	padding-bottom: 0px;
}
.courier-companies {
	margin-bottom: 68px;
	padding-left: 36px;
	padding-top: 43px;
}
.map {
	margin-top: 23px;
	margin-bottom: 67px;
	margin-left: 4px;
}
/* Стилизация footer */
.main-footer-logo p {
	color: #ffc600;
	font-weight: 800;
	font-size: 48px;
	opacity: 1;
	margin-bottom: 0px;
	margin-top: 56px;
	transition: all 0.1s;
}
.main-footer-logo p:hover {
	opacity: 0.6;
}
.main-footer-logo p:active {
	opacity: 0.3;
}
.f-c-s-f a {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 36px;
	color: white;
	opacity: 0.7;
	transition: all 0.1s;
}
.footer-navigation-first a:hover {
	opacity: 1;
}
.footer-navigation-first a:active {
	opacity: 0.3;
}

.cord {
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: white;
}
.footer-navigation-second a {
	font-weight: 800;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 4px;
	line-height: 30px;
	color: white;
	transition: all 0.1s;
}
.footer-navigation-second a:hover {
	opacity: 0.6;
}
.footer-navigation-second a:active {
	opacity: 0.3;
}
.footer-info-panel {
	width: 1160px;
	margin: 0 auto;
	position: relative;
}
.footer-navigation-first {
	display: flex;
	justify-content: space-between;
}
.footer-navigation-second {
	display: flex;
	margin-top: 4px;
	margin-bottom: 45px;
	
}
.f-c-s-f {
	padding: 0;
	display: flex;
	width: 504px;
	justify-content: space-between;
	margin-top: 57px;
}
.f-c-s-f-2 {
	padding: 0;
	display: flex;
	justify-content: space-between;
	width: 429px;
	margin-left: 160px;
}
.phone-number {
	margin-left: 196px;
}
.contact-us {
	display: flex;
	justify-content: space-between;
	width: 145px;
	margin: 0 auto;
	padding: 0;
}
.contact-us li {
	opacity: 0.3;
	transition-property: opacity;
	transition-duration: 0.3s
}
.contact-us li:hover {
	opacity: 1;
}
.f-c-s-f svg {
	margin-right: 7px;
}
.just-image {
	width: 80px;
	height: 7px;
	position: absolute;
	top: 14px;
}
.html-logo {
	position: absolute;
	top: 0px;
	left: 1135px;
}
.write-me {
	position: relative;
}
.write-us-b {
	margin-left: 40px;
}
.about-us-b {
	margin-left: 22px;
}
.f-c-s-f-3 {
	margin-top: 60px;
	width: 324px;
}
/* Стилизация попапов */
.popups {
	display: none;
}
.setname {
	font-size: 18px;
	font-weight: 800;
}
.fiel {
	background-color: #f2f2f2;
	border: none;
}
.send-form {
	border: none;
	background-color: white;
	transition: all 0.1s;
}
.send-form:hover {
	background-color: #f0c52e;
}
/* before"s & after"s setting */
.user-bar {
	position: relative;
}
.user-bar::before {
	content: "";
	position: absolute;
	top: 17px;
	left: 45px;
	width: 16px;
	height: 16px;
	background-image: url("../svg-device/search.svg");
}
.enter {
	position: relative;
}
.enter::before {
	content: "";
	position: absolute;
	right: 59px;
	top: 8px;
	width: 13px;
	height: 12px;
	background-image: url("../svg-device/user.svg");
}
.compare {
	position: relative;
}
.compare::before {
	content: "";
	position: absolute;
	right: 81px;
	top: 10px;
	width: 10px;
	height: 10px;
	background-image: url("../svg-device/compare.svg");
}
.shoping-cart {
	position: relative;
}
.shoping-cart::before {
	content: "";
	position: absolute;
	right: 73px;
	top: 8px;
	width: 12px;
	height: 12px;
	background-image: url("../svg-device/cart.svg");
}
.cc {
	position: relative;
}
.cc::after {
	content: "";
	position: absolute;
	top: 2px;
	left: 235px;
	width: 16px;
	height: 16px;
	background-image: url("../svg-device/plus.svg");
	opacity: 0.3;
}
.services-buttons::after {
	content: "";
	position: absolute;
	width: 7px;
	height: 319px;
	background-color: #000000;
	left: 277px;
	top: -85px;
}
.about-us,
.contacts {
	position: relative;
}
.about-us::before {
	content: "";
	position: absolute;
	background-color: #000;
	width: 80px;
	height: 7px;
	top: -10px;
}
.contacts::before {
	content: "";
	position: absolute;
	background-color: #000;
	width: 80px;
	height: 7px;
	top: -10px;
}
.courier-companies li {
	position: relative;
}
.courier-companies li::before {
	content: "";
	position: absolute;
	border: 3px solid #b2b2b2;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	left: -35px;
	top: 3px;
}
.butt {
	position: relative;
}
.butt::after {
	content: "";
	position: absolute;
	top: 14px;
	left: -1px;
	width: 210px;
	height: 8px;
	background-color: #f0c52e;
	z-index: -1;
	transition: height 0.3s, top 0.3s;

}
.more-info::after {
	top: 14px;
	left: -6px;
	width: 218px;
	height: 9px;
}
.butt:hover::after {
	height: 30px;
	top: 3px;
}
.write-us-b::after {
	content: "";
	position: absolute;
	top: 7px;
	left: -41px;
	width: 260px;
	height: 8px;
	background-color: #f0c52e;
	z-index: -1;
	transition: all 0.3s;
}
.about-us-b::after {
	content: "";
	position: absolute;
	top: 7px;
	left: -23px;
	width: 260px;
	height: 8px;
	background-color: #f0c52e;
	z-index: -1;
	transition: all 0.3s;
}
.f1:hover::after {
	height: 30px;
	top: -4px;
}
.q1,
.q2,
.q3 {
	position: relative;
	z-index: 2;
}
.q1::after {
	content: "";
	position: absolute;
	top: 7px;
	left: 0px;
	width: 160px;
	height: 8px;
	background-color: #f0c52e;
	z-index: -1;
	transition: all 0.3s;
}
.q2::after {
	content: "";
	position: absolute;
	top: 7px;
	left: -4px;
	width: 160px;
	height: 8px;
	background-color: #f0c52e;
	z-index: -1;
	transition: all 0.3s;
}
.q3::after {
	content: "";
	position: absolute;
	top: 7px;
	left: -16px;
	width: 160px;
	height: 8px;
	background-color: #f0c52e;
	z-index: -1;
	transition: all 0.3s;
}
.q1:hover::after {
	height: 30px;
	top: -4px;
}
.q2:hover::after {
	height: 30px;
	top: -4px;
}
.q3:hover::after {
	height: 30px;
	top: -4px;
}
.q1:active::after {
	display: none;
}
.q2:active::after {
	display: none;
}
.q3:active::after {
	display: none;
}
.catalog-user {
	position: relative;
}
.catalog-user::before {
	content: "";
	position: absolute;
	right: 167px;
	top: 10px;
	width: 13px;
	height: 12px;
	background-image: url("../svg-device/user.svg");
}
.way-li-1,
.way-li-2 {
	position: relative;
}
.way-li-1::after,
.way-li-2::after {
	content: "";
	position: absolute;
	right: -21px;
	bottom: 4px;
	width: 4px;
	height: 7px;
	background-image: url(../svg-device/nav-arrow.svg);
}
.new::after {
	content: "NEW";
	position: absolute;
	top: 29px;
	right: 27px;
	width: 30px;
	height: 16px;
	padding: 20px 13px;
	font-size: 14px;
	font-family: "Gilroy ExtraBold","Arial", sans-serif;
	text-align: center;
	color: #bebebe;
	letter-spacing: 1px;
	border: 2px solid #d7d7d7;
	border-radius: 50%;
}
.buy {
	position: relative;
	z-index: 0;
}
.buy::after {
	width: 200px;
	left: -32px;
	top: 7px;
}
.buy:hover::after {
	top: -4px;
}
.filter-field-1,
.filter-field-2,
.filter-field-3 {
	position: relative;
}
.filter-field-1::before {
	content: "";
	position: absolute;
	width: 201px;
	height: 2px;
	background-color: #000000;
	top: -14px;
}
.filter-field-2::before {
	content: "";
	position: absolute;
	width: 201px;
	height: 2px;
	background-color: #000000;
	top: -16px;	
}
.filter-field-3::before {
	content: "";
	position: absolute;
	width: 201px;
	height: 2px;
	background-color: #000000;
	top: -16px;	
}
.show-filter::after {
	top: 15px;
	width: 200px;
}
















/* Стилизация catalog.html */
/* Стилизация catalog.html */
/* Стилизация catalog.html */

/* Стилизация header */

.catalog-main-header {
	height: 186px;
}
.catalog-inner-catalog {
	width: 1160px;
	left: 0px;
}
.fx-ul-list {
	padding-left: 55px;
}
.fx-ul-list-y {
	padding-top: 20px;
}
.catalog-user {
	min-width: 150px;
	padding-left: 86px;
}
.re-enter {
	margin-left: 20px;
}
.catalog-compare {
	margin-left: 62px;
}
.re-enter {
	opacity: 0.3;
}

/* Стилизация main */

.catalog-center-container {
	margin-top: 50px;
	margin-bottom: 70px;
	margin: 0 auto;
}
.catalog-center-container h1 {
	font-size: 47px;
	letter-spacing: 0.012em;
	font-weight: 800;
	margin-left: 6px;
	margin-bottom: 24px;
}
.section-name-container {
	margin: 43px 0px 53px 60px
}
.section-name-container h1 {
	font-weight: 800;
	font-size: 47px;
}
.way {
	display: flex;
	width: 400px;
	justify-content: space-between;
	margin-bottom: 50px;
}
.way a {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #000000;
	opacity: 0.3
}
.way a:hover {
	opacity: 0.6;
}
.way a:active {
	opacity: 0.1;
}
.shop-wr {
	display: flex;
	background: linear-gradient(to right, #dbdbdb 0%, #dbdbdb 49%, #ebebeb 50%, #ebebeb 100%);
}
.flex-elem1 {
	display: flex;
}
.filter-focus {
	width: 270px;
	padding-left: 60px;
	padding-top: 12px;
	padding-right: 0px;
}
.sort-shop-wr {
	padding-left: 88px;
	background-color: #ebebeb;
	padding-top: 12px;
}
.fil-container1 {

}
.fil {
	display: flex;
	width: 286px;
	justify-content: space-between;
	background-color: #ebebeb;
	height: 70px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 32px;
}
.select {
	margin-top: 26px;
	margin-left: 193px;
	width: 41px;
	display: flex;
	justify-content: space-between;
}
.select li {
	opacity: 0.3;
	transition: all 0.1s;
}
.select li:hover {
	opacity: 1;
}
.fil li {
	margin-top: 25px;
}
.fil-container2 {
	position: relative;
	left: -16px;
}
.products-and-filtres {
	background-image: linear-gradient(to right, #ebebeb 0%, #ebebeb 49%, #ffffff 50%, #ffffff 100%);
}
.filter {
	width: 276px;
}
.products {
	width: 770px;
	background-color: #ffffff;
}
.product {
	width: 360px;
	position: relative;
	margin-bottom: 48px;
}
.item-line {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-top: 15px;
}
.item-line a {
	font-family: "Open Sans", sans-serif;
	line-height: 30px;
	font-size: 15px;
	font-weight: 800;
}
.product-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 761px;
	margin: 70px 0px 0px 70px;
	padding: 0;
}
.item-hidden-text {
	position: absolute;
	top: 100px;
	left: 0px;
	width: 200px;
	height: 60px;
	text-align: center;
	margin-top: 55px;
	margin-left: 80px;
	visibility: hidden;

}
.i-h-t {
	display: flex;
	flex-direction: column;
}
.buy1 {
	margin-bottom: 25px;
}
.product:hover .image-stick {
	opacity: 0.6
}
.product:hover .item-hidden-text {
	visibility: visible;
}
.shop-wr h2 {
	font-size: 16px;
	letter-spacing: 0.23em;
	text-transform: uppercase;
}
.fil a {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #000000;
	opacity: 0.3;
	transition: all 0.1s;
}
.fil a:hover {
	opacity: 0.6;
}
.fil a:active {
	opacity: 1;
}
.fil .fil-check {
	color: black;
	opacity: 1;
}
.filter h3 {
	font-weight: 800;
	font-size: 18px;
}
.filter label {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}
.filter-form {
	width: 200px;
	padding-top: 65px;
	padding-right: 70px;
}
.filter-field-1 {
	margin-bottom: 85px;
}
.color-choose {
	padding: 0;
	margin-top: 30px;
	margin-left: 5px;
}
.checkbox-input {
	margin-right: 20px;
}
.color-choose li {
	margin-bottom: 22px;
}
.filter-field-2 {
	margin-bottom: 57px;
}
.Bluetooth-choose li {
	margin-bottom: 22px;
}
.bluetooth-choose {
	margin-top: 30px;
	margin-left: 5px;
	margin-bottom: 42px;
}
.product .pr-name {
	font-weight: 800;
	font-family: "Gilroy";
	font-size: 18px;
	letter-spacing: 0.015em;
	width: 262px;
	line-height: 23px;
}
.product .comparison {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	color: #000000;
	opacity: 0.6;
	transition: opacity 0.1s;
}
.product .comparison:hover {
	opacity: 1;
}
.product .comparison:active {
	opacity: 0.3;
}
.product p {
	font-weight: 300;
	font-size: 16px;
}
.contact-us {
	margin-bottom: 0px;
}
.show-filter {
	z-index: 1;
	width: 200px;
	height: 40px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
/* Стилизация переключателя страниц */
.list-level {
	display: flex;
	font-weight: 800;
	font-size: 16px;
	letter-spacing: 4px;
	line-height: 30px;
	flex-wrap: wrap;
	width: 759px;
	margin: 0;
	margin-top: -9px;
	background-color: #f2f2f2;
	text-transform: uppercase;
	list-style: none;
	height: 70px;
	margin-left: 72px;
	margin-bottom: 77px;
}
.list-level li {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.ll {
	height: 70px;
	margin-top: 40px;
	text-align: center;
}
.swish {
	width: 125px;
}
.num {
	width: 40px;
}
.list-level li:nth-child(2) {
	margin-left: 197px;
}
.list-level li:last-child {
	margin-left: 191px;
}
.level-2, .level-3 {
	opacity: 0.6;
	color: black;
	transition: opacity 0.1s;
}
.list-level. .level-1 {
	opacity: 1;
	transition: opacity 0.1s;
}
.level-2:hover {
	opacity: 0.93;
}
.level-3:hover {
	opacity: 0.93;
}
.list-level li:first-child:hover {
	background-color: #d9d9d9;
}
.list-level li:first-child:active {
	background-color: #d9d9d9;
	opacity: 0.6;
}
.list-level li:last-child:hover {
	background-color: #d9d9d9;
}
.list-level li:last-child:active {
	background-color: #d9d9d9;
	opacity: 0.6;
}